/* body{
    background-color:white;
} */
#display {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    margin: auto;
}

#display>div {
    background-color: white;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 10px;
}

#pic {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

p+img {
    width: 50%;
    margin-top: -10px;
}

h3+p {
    margin-top: -15px;
    color: grey;
    font-family: 'Open Sans', sans-serif;
}

h3 {
    margin-top: 5px;
    font-family: 'Open Sans', sans-serif;
}

@media all and (min-width:451px) and (max-width:750px) {
    #display {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
    }
}

@media all and (min-width:100px) and (max-width:450px) {
    #display {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }
}